{% if workouts|length > 0 %}
    <div class="accordion mt-3" id="accordion-workouts">
        {% for workout in workouts %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ workout.id }}">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ workout.id }}"
                            aria-expanded="false"
                            aria-controls="collapse-{{ workout.id }}"
                    >
                        {{ workout }}
                    </button>
                </h2>
                <div
                        id="collapse-{{ workout.id }}"
                        class="accordion-collapse collapse"
                        aria-labelledby="heading-{{ workout.id }}"
                        data-bs-parent="#accordion-workouts"
                >
                    <div class="accordion-body">
                        <ol>
                            {% for component in workout.components %}
                                <li>{{ component }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<div class="mt-3">
    No workouts
</div>
{% endif %}
